<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{> header}}
        <p>This site was created by Madhav Khosla. It uses data from third-party APIs provided by </p>
        <img class="portrait" src="/img/react.png" />
    </div>
    {{> footer}}
</body>

</html>